@import "../../../assets/styles/common.scss";

.badge{
    padding:5px 10px;
    border-radius:5px;
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
    margin-bottom:4px;
    display: inline-block;
    font-weight:600;
    text-transform: uppercase;
    &.neutral{
        background: $light-orange;
        color:$orange;
    }
    &.positive{
        background: $light-green;
        color:$green;
    }
    &.negative{
        background:$light-red;
        color:$red
    }
}